Source: pi-bluetooth
Section: misc
Priority: optional
Maintainer: Błażej Sowa <blazej@turtlerover.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.3.0
Homepage: https://github.com/fictionlab/pi-bluetooth

Package: pi-bluetooth
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 bluez,
 linux-firmware-raspi2
Description: Raspberry Pi 3 bluetooth
 Loads BCM43430A1 firmware on boot
